@import 'colors';

.actions {

  button {

    font-family: $monserrat;
    background-color: $color-button-action;
    border: 1px solid $color-border-light;
    color: #333;
    padding: 10px;
    cursor: pointer;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &:hover {
      background-color: $color-selected-3-active;
    }

    &:active {
      background-color: $color-selected-3-active;
      border: 1px solid $color-border-dark;
    }

    &:disabled {
      background: #eee;
      pointer-events: none;
    }

    i {
      font-size: 36px;
    }

    span {
      // To avoid the odd skewish look
      padding-right: 10px;
    }

  }

}

.tool-main {

  button.table-action, button.table-modal {

    border: 1px solid $color-border-dark;
    border-radius: 0;
    color: #333;

    &.create, &.create:active, &.create:hover {
      background: $color-button-create;
    }

    &.delete, &.delete:active, &.delete:hover {
      background-color: $color-button-delete;
    }

    &.edit, &.edit:active, &.edit:hover {
      background-color: $color-button-edit;
    }

  }
}
