table.data-table {

  border: 1px solid $color-border-light;
  border-radius: 2px;
  overflow-x: auto;
  width: 100% !important;

  &.clickable-tr {

    tbody {

      tr.has-provider:hover {
        cursor: pointer;
        background: #aaa;
      }

      tr.inactive {
        td:not(:last-child) {
          opacity: 0.3;
        }
      }
    }
  }


  tr {
    border-bottom: 1px solid $color-border-light;
  }

  th {
    padding: 10px 5px;
  }


  td {
    padding: 10px 5px;
    font-size: 0.8em;
    //    max-width: 120px;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: normal;
  }

  &.small {
    td {
      padding: 10px 5px;
      font-size: 0.8em;
    }
  }

  &.large {
    td {
      padding: 10px 5px;
      font-size: 1em;
    }
  }

  thead {
    background: $color-selected-1-active;
  }

  tbody {
    background: $color-tool-context-bar;
  }

}

.tool-wrapper {
  .tool-main {
    .dataTables_wrapper {
      table {
        width: 100%;
      }

      div.dataTables_info {
        padding: 0
      }

      div.dataTables_paginate {
        a.paginate_button {
          padding: 0 5px;
        }
      }
    }
  }
}
