table.data-table {

  border: 1px solid $color-border-light;
  border-radius: 2px;
  overflow-x: auto;
  width: 100%;

  &.clickable-tr {

    tbody {

      tr.has-provider:hover {
        cursor: pointer;
        background: #aaa;
      }
    }
  }


  tr {
    border-bottom: 1px solid $color-border-light;
  }

  th {
    padding: 10px 5px;
  }


  td {
    padding: 10px 5px;
    font-size: 0.8em;
  }

  &.small {
    td {
      padding: 10px 5px;
      font-size: 0.8em;
    }
  }

  &.large {
    td {
      padding: 10px 5px;
      font-size: 1.2em;
    }
  }

  thead {
    background: $color-selected-1-active;
  }

  tbody {
    background: $color-tool-context-bar;
  }

}
