
.request-tester-input {

  width: 100%;
  position: sticky;
  top: 0;
  border-bottom: 1px solid $color-border-light;
  z-index: 100;
  padding: 20px;

  input[type="text"] {
    width: 100%;
    padding: 10px;
  }
}

.request-tester-result {

  h2 {
    margin-bottom: 20px !important;
  }

  padding: 20px;

  #request-tester-steps {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .redirect-step {
      flex: 0 0 auto;
      display: flex;

      padding: 0;
      margin: 0;

      &.state-looping {
        border: 2px solid red;
      }

      .label {
        color: #aaa
      }

      .value  {
        color: #333;
        font-weight: bold
      }

      div.step-result-box {
        border: 2px solid #333;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      div.incoming-request {

        div.vhost {
          padding: 20px;
          background: $color-selected-3-active;
          display: flex;
          flex-direction: column;
        }

        div.url {
          padding: 20px;
          background-color: white;
          display: flex;
          flex-direction: column;
        }
      }

      div.rewrite-target {

        div.type {
          padding: 20px;
          display: flex;
          flex-direction: column;

          &.type-internal {
            background: $color-selected-2-active;
          }

          &.type-external {
            background: $color-selected-1-active;
          }

        }

        div.target {
          padding: 20px;
          background-color: white;
          display: flex;
          flex-direction: column;
        }
      }

      .transition {
        flex: 0 0 auto;
        margin: 0 20px;
        border-radius: 25%;

        display: flex;
        flex-direction: row;
        align-items: center;

        i {
          font-size: 4rem;
        }
      }
    }

    .stepTransition {

      i {
        font-size: 4rem;
      }
    }

  }
}