@import 'tool-context-bar';
@import 'data-table';

#tools-window {

  flex: 1 0 auto;
  padding-left: 0;

  transition: padding-left 0.5s ease;

  .tool {

    display: none;

    &.selected {
      display: block;
    }

    .tool-main {
      padding: 20px;

      > div:not(:last-child) {
        margin-bottom: 20px;
      }


      .tool-main-bar {

        padding: 5px;
        height: $tool-nav-height;

        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .tool-table-action {

        display: inline;

        &:hover {
          cursor: pointer;
        }

        .material-icons {
          font-size: 28px;
        }

      }

    }

    .helptext {

      font-size: 1.0em;

      a {
        outline: 0;
      }

      .heading {
        padding: 10px 0;
        display: flex;
        align-items: center;

        &:hover {
          background-color: #ccc;
          cursor: pointer;
        }

        i {
          font-size: 2em;
          color: $color-selected-2;
        }
      }

      .content {
        border: 1px solid silver;
        padding: 10px;
      }

      &.collapsed {
        .content {
          display: none;
          overflow: hidden;
        }
      }

      ul {
        list-style: disc;
        padding-left: 20px;

        li {
          span.symbol {
            font-weight: bold;
            display: inline-block;
            width: 20px;
          }
        }

        ul {
          list-style: circle;
        }
      }

      .mono {
        font-family: 'Lucida Console', monospace;
      }

    }

  }

}
