@import 'tool-context-bar';
@import 'data-table';


#tools-window {

  flex: 1 0 auto;

  .tool {

    display: none;

    &.selected {
      display: block;
    }

    .tool-main {
      padding: 40px;

      > div:not(:last-child) {
        margin-bottom: 20px;
      }


      .tool-main-bar {

        padding: 5px;
        height: $tool-nav-height;

        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .tool-table-action {

        display: inline;

        &:hover {
          cursor: pointer;
        }

        .material-icons {
          font-size: 28px;
        }

      }

    }

    .helptext {

      font-size: 1.0em;

      .heading {
        padding: 10px;
        display: flex;
        align-items: center;

        &:hover {
          background-color: #ccc;
          cursor: pointer;
        }

        i {
          font-size: 2em;
          color: $color-selected-2;
        }
      }

      .content {
        border: 1px solid silver;
        padding: 10px;
      }

      &.collapsed {
        .content {
          display: none;
          overflow: hidden;
        }
      }

      ul {
        list-style: disc;
        padding-left: 20px;

        li {
          span.symbol {
            font-weight: bold;
            display: inline-block;
            width: 20px;
          }
        }

        ul {
          list-style: circle;
        }
      }

      .mono {
        font-family: 'Lucida Console', monospace;
      }

    }

  }

  .request-tester-input {

    width: 100%;
    position: sticky;
    top: 0;
    border-bottom: 1px solid $color-border-light;
    z-index: 100;
    padding: 20px;

    input[type="text"] {
      width: 100%;
      padding: 10px;
    }

  }

  .request-tester-result {

    padding: 20px;


    div.match {
      outline: none;
      border-color: lime;
      box-shadow: 0 0 10px lime;
    }

    tr.match {
      background-color: lime !important;
    }

    .vhost {

      padding: 10px;
      border: 1px solid $color-border-light;
      border-radius: 2px;

      margin: 20px 0;

      table {

        font-size: 0.8em;
        max-width: 100%;

        thead.thead-dark {

          th {
            color: white;
            background-color: #666;
            border-color: $color-border-light;
          }

        }
      }
    }
  }


}
