@import "common";
@import "colors";

.tool-context-bar {

  padding: 40px;
  height: $tool-nav-height;
  background: $color-tool-context-bar;
  color: #333;
  border-bottom: 1px solid $color-border-light;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    flex: 1 0 auto
  }

  .large-selector {

    display: flex;
    align-items: center;

    label {
      margin: 0 20px 0 0;
    }

    select {

      display: block;
      font-size: 16px;
      font-family: sans-serif;
      font-weight: 700;
      color: #444;
      line-height: 1.3;
      padding: 1.0em 1.4em 1.0em .8em;
      width: 100%;
      max-width: 100%; /* useful when width is set to anything other than 100% */
      box-sizing: border-box;
      margin: 0;
      border: 1px solid $color-border-light;
      border-radius: 2px;
      appearance: none;
      background-color: $color-main-background;
    }

  }

  .actions {

    flex: 0 1 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    :not(:last-child) {
      margin-right: 20px;
    }


  }

}
