@import "common";
@import "colors";

#top-info-bar {

  font-family: $monserrat;
  background-color: $color-top-bar;
  padding: 5px;
  display: none;
  border-bottom: 1px solid $color-border-light;

  &.visible {
    display: flex;
    justify-content: center;
  }

  .error-message {
    display: none;

    &.visible {
      display: block;
    }
  }

  .license-state {
    display: none;

    &.visible {
      display: block;
    }

    .upload-license-link {
      color: #007bff;
      margin-bottom: 0;

      &:hover {
        cursor: pointer;
        color: #0056b3;
        text-decoration: underline;
      }
    }
  }
}
