@import "common";
@import "colors";

#top-nav {

  font-family: $monserrat;

  flex: 0 0 $topbar-height;
  padding: 0 20px;

  height: $topbar-height;
  background: #333;
  color: #eee;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-size: 20px;
  }

  .license {
    display: none;

    &.visible {
      display: block;
    }
  }

}
