$color-nav-toolbar: #ede6e3ff;

$color-topbar: #36382eff;

$color-selected-1: #F06449;
$color-selected-1-active: #FBBB9B;

$color-selected-2: #5bc3eb;
$color-selected-2-active: #8CE7F7;

$color-selected-3: #23CE6B;
$color-selected-3-active: #6BF1A3;

$color-selected-4: #717744;
$color-selected-4-active: #D7D9A6;

$color-another: #dadad9ff;

$color-nav-toolbar-info: #90BE6D;

$color-main-background: #FAF7F4;