$topbar-height: 60px;
$selectBorderWidth: 6px;
$toolbar-width: 250px;
$toolnav-height: 100px;
$top-info-bar-height: 40px;

.rewrite-manager {

  height: 100%;
  display: flex;
  flex-direction: column;

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  font-family: $monda;

  width: 100%;

  #top-nav-bar {

    flex: 0 0 $topbar-height;

    height: $topbar-height;
    background: #333;
    border-bottom: 1px solid silver;

    display: flex;
    align-items: center;

    #top-info-bar {
      flex: 1 0 auto;
      height: $top-info-bar-height;
      color: #eee;

      .context-info {
        padding: 5px;
        display: flex;
        justify-content: flex-end;

        p {
          padding: 0 5px;
        }

      }

    }

    .logo {
      flex: 0 0 $toolbar-width;
      padding: 20px;
      color: #eee;
      align-items: center;
      justify-content: center;
    }

  }

  #main {

    flex: 1 0 auto;
    display: flex;
    flex-direction: row;

    background: $color-main-background;

    #toolbar {

      flex: 0 0 $toolbar-width;
      color: #333;

      .material-icons {
        font-size: 36px;
        font-weight: bold;
      }

      overflow-y: auto;

      background: $color-nav-toolbar;
      border-right: 1px #aaa solid;

      display: flex;
      flex-direction: column;

      .tool-nav-info {
        background: $color-nav-toolbar-info;
        color: #eee;
        padding: 20px;
        align-items: center;
        height: $toolnav-height;
      }

      .tool-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: $toolnav-height;
        border-bottom: 1px solid silver;

        &:hover {
          cursor: pointer;
        }

        &:nth-of-type(1) {
          border-left: $selectBorderWidth solid $color-selected-1;
          &.selected {
            background: $color-selected-1-active;
          }
        }
        &:nth-of-type(2) {
          border-left: $selectBorderWidth solid $color-selected-2;
          &.selected {
            background: $color-selected-2-active;
          }
        }
        &:nth-of-type(3) {
          border-left: $selectBorderWidth solid $color-selected-3;
          &.selected {
            background: $color-selected-3-active;
          }
        }
        &:nth-of-type(4) {
          border-left: $selectBorderWidth solid $color-selected-4;
          &.selected {
            background: $color-selected-4-active;
          }
        }

        .toolIcon {
          flex: 1 0 30%;
          height: $toolnav-height;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .toolName {
          flex: 1 0 70%;
          height: $toolnav-height;
          display: flex;
          align-items: center;
        }

      }

    }

    #tools-window {

      flex: 1 0 auto;

      .tool {

        display: none;

        &.selected {
          display: block;
        }

        .tool-context-bar {
          padding: 40px;
          height: $toolnav-height;
          background: white;
          color: #333;
          border-bottom: 1px solid $color-nav-toolbar;
        }

      }

      .request-tester-input {

        width: 100%;
        height: 200px;
        position: sticky;
        top: 0;
        border-bottom: 1px solid silver;
        z-index: 100;
        padding: 20px;

        input[type="text"] {
          width: 100%;
          padding: 10px;
        }

      }

      .request-tester-result {

        padding: 20px;

        div.match {
          outline: none;
          border-color: lime;
          box-shadow: 0 0 10px lime;
        }

        tr.match {
          background-color: lime !important;
        }

        .vhost {

          padding: 10px;
          border: 1px solid silver;
          border-radius: 2px;

          margin: 20px 0;

          table {

            font-size: 0.8em;

            max-width: 100%;

            thead.thead-dark {

              th {
                color: white;
                background-color: #666;
                border-color: #333;
              }

            }
          }
        }
      }
    }
  }

}